@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@700;800;900&display=swap');

.App {
    text-align: center;
}
html{
    background-color: #f1f6f8
}

/*HEADER ELEMENTS*/
.header {
    background-color: #0B1049;
    color: white;
    font-family: "Montserrat Alternates";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.flag-dropdown{
    visibility: hidden;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 100px;
}

.navbar p {
    margin-right: 40px;
    font-size: 14px;
    margin-bottom: 0;

}

.carwashLogo {
    height: 50px;
    margin-top: 10px;
}

#companyName {
    font-size: 20px;
    margin: 0 0 10px
}

/*ABOUT ELEMENTS*/
.aboutPhoto {
    height: 300px;
    box-shadow: -30px 50px 50px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: -40px;
}

.aboutText {
    font-family: Rubik;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    text-align: left;
    margin-right: 70px;

}

.about {
    display: flex;
    padding-top: 70px;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #D5EEF9;
}


#oneAbout {
    margin-top: 0;
    margin-bottom: -20px;
}

.about-2 {
    margin-top: 60px;
}

.aboutIcon {
    height: 150px;
}

.aboutItem {
    width: 200px;
}


.row-1 {
    display: flex;
    justify-content: space-around;
    padding-right: 160px;
    padding-left: 160px;
    margin-bottom: 20px;
}

.row-2 {
    display: flex;
    justify-content: space-around;
    padding-right: 280px;
    padding-left: 280px;
}

.servicesCtn {
    background-color: #0B1049;
    margin-top: 40px;
}

.serviceItem {
}

.serviceItem img {
    height: 200px;

}

.serviceItem p {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    text-transform: uppercase;

}

.services {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
    border-bottom: thin solid white;
}

#services {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    padding-bottom: 30px;

}
#photosName{
    font-family: Rubik;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
}
.photos{
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 120px;
    padding-left: 120px;
    grid-row-gap:30px;
    grid-column-gap:30px ;
    justify-items: center;

}
.photos img{
    height:200px;
}
.morePhoto{
    margin-top:50px;
    margin-bottom: 25px;
    background-color: #8CC9EB ;
    border:none;
    height:40px;
    width:150px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 60px;
    box-shadow: 0px 4px 35px 2px rgba(44, 99, 111, 0.6);


}
.morePhoto:checked{
    background-color: #195678;
}
.morePhoto:hover{
    cursor: pointer;
    box-shadow: 0px 4px 50px 10px rgba(58, 149, 169, 0.6);

}
.active1{
    background-color: #4C98C2;
    color: white;
}
.active2{
    background-color: #195678;
}
.welcomeCtn{
    background-color: #0B1049;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 130px 60px;
}
.formCtn{
    background-color:#D5EEF9;
    width:450px;
    border-radius: 5px;
    margin: -50px auto 40px;
}
.formApply{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.formApply input{
    width:300px;
    margin-bottom: 25px;
    margin-top: 25px;
    border:none;
    border-radius: 5px;
    font-size:14px ;
    height:35px;
    font-family: Montserrat, serif;
    letter-spacing:1px;
    font-weight: 500;
    box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.formCtn p {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.formApply button{
    margin-top: 20px;
    font-family: Rubik;
    font-weight: 900;
    height:45px;
    width: 170px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3491C5;
    letter-spacing: 1px;
    border:none;
    border-radius: 60px;
    box-shadow: 0px 0px 45px 7px rgba(0, 0, 0, 0.15);

}
.formApply button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 45px 7px rgba(0, 151, 199, 0.5);
}

.addressCtn{
    background-color:#0B1049;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.address p{
    font-family: Rubik;
    font-weight: 700;
    color: #EAEFF3;
    text-align: left;
    font-size: 16px;
}
.addressCtn a{
    font-family: Rubik;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}
.address{
    padding-top: 20px;
    padding-bottom: 30px;
}
.linkInst{
    display: flex;
    align-items: center;
}
.linkInst a:hover{
    cursor: pointer;
}